<%- if controller_name != 'sessions' %>
<P>既に登録済みの方</P><br />
  <p><%= link_to "こちら", new_session_path(resource_name) %>からログインしてください</p><br />

<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
<P>会員登録がお済みでない方</P><br />
  <p><%= link_to "こちら", new_registration_path(resource_name) %>から新規登録を行ってください。</p><br />
<% end %>
