 <table border="1" style="border-collapse: collapse">
    <thead>
      <th class="font-weight-bold text-center pl-4 pr-4">ジャンル検索</th>
    </thead>
    <!--%= form_with url: genre_search_path, method: :get do |f| %-->
      <% genres.each do |genre| %>
        <tbody>
          <td class="text-center p-1"><%= link_to genre.name, genre_items_path(genre.id) %></td>
        </tbody>
      <% end %>
     <!--% end %-->
  </table>
