<h1>注文履歴詳細</h1>
<table border="1" style="border-collapse: collapse">
  <h1>注文情報</h1>
  <tbody>
    <tr>
      <td>注文日</td>
      <td></td>
    </tr>
    <tr>
      <td>配送先</td>
      <td></td>
    </tr>
    <tr>
      <td>支払方法</td>
      <td></td>
    </tr>
    <tr>
      <td>ステータス</td>
      <td></td>
    </tr>
  </tbody>
</table>

<table border="1" style="border-collapse: collapse">
  <h1>請求情報</h1>
  <tbody>
    <tr>
      <td>商品合計</td>
      <td></td>
    </tr>
    <tr>
      <td>配送料</td>
      <td><%= order.postage %></td>
    </tr>
    <tr>
      <td>ご請求額</td>
      <td></td>
    </tr>
  </tbody>
</table>

<table border="1" style="border-collapse: collapse">
  <h1>注文内容</h1>
  <thead>
    <th>商品</th>
    <th>単価（税込）</th>
    <th>個数</th>
    <th>小計</th>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
