<div class="container">
  <div class="row">
    <div class="col-2">
      <%= render 'public/genres/genre', genres: @genres %>
    </div>
    <div class="col-10">
      <%= render 'public/items/item', items_name: @select_genre_name ,item: @item,items: @items %>
      <div class="pagination justify-content-center">
         <%= paginate @item %><!--変わるかも-->
      </div>
    </div>
  </div>
</div>
